[submodule "jni/deltachat-core-rust"]
	path = jni/deltachat-core-rust
	url = https://github.com/chatmail/core
[submodule "vendor/yggstack"]
	path = vendor/yggstack
	url = https://github.com/DrewCyber/yggstack
	branch = mobile-bindings-ai
